input {
  padding: 12px;
  font-size: 15px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.form-card {
  margin-top: 50px;
  /* border: 1px solid red; */
  width: 50%;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(10, 7, 221, 0.493);
  padding: 40px;
}

.row {
  margin-top: 20px;
}

.btn {
  width: 100px;
  font-weight: bolder;
  color: white;
  background-color: rgba(197, 20, 20, 0.849);
}
